body {
    font-family: 'Oswald', Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background: 
    linear-gradient(rgba(59, 56, 56, 0.2), rgba(59, 56, 56, 0.2)),
    url(geometric-leaves.png);
}

/* Header styles */

.header {
    background-color: #f8f9fa;
    padding: 0 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.header .logo {
    margin-left: 25px;
    font-size: 45px;
    font-weight: bold;
}

.header .mi {
    color: #ff3300;
}

.header .health {
    color: #28a745;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.nav a {
    margin: 0 15px;
    color: #000000;
    text-decoration: none;
}

/* body styles */
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 0 20px 0 20px;
    flex-wrap: wrap;
}
.main-content {
    flex: 1 1 300px;
    max-width: 400px;
}

.be-healthy {
    font-size: 90px;
    font-weight: bold;
    margin-top: 0;
}

.description {
    font-size: 30px;
    color: #555555;
}

.browse-menu {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}
/*image body styles */
.images {
    display: flex; 
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    flex: 2 1 500px;
}
.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    height: 580px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
}
/* text on image */
.meal-type {
    position: absolute;
    background-color: #28a745;
    border-radius: 8px;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 25px;
    right: 0;
    bottom: 0;
}
.image-text {
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 25px;
    right: 0;
    bottom: 55px;
}

/* Footer styles */

footer {
    background-color: #f8f9fa;
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
    color: #777777;
}